<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Datos del Usuario</title>
</head>
<body>
    <h2>DATOS DEL USUARIO</h2>
    <a th:href="@{/}">REGRESAR</a>
    <br/><br/>
    <form th:action="@{/guardar}" th:method="post" th:object="${usuario}">
        <label>ID:</label>
        <input type="number" th:field="*{id}"/><br/><br/>
        <label>NOMBRE:</label>
        <input type="text" th:field="*{nombre}" required/><br/><br/>
        <label>EMAIL:</label>
        <input type="email" th:field="*{email}"/><br/><br/>
        <label>PASSWORD:</label>
        <input type="password" th:field="*{password}"/><br/><br/>
        <label>TELEFONO:</label>
        <input type="text" th:field="*{telefono}"/><br/><br/>
        <label>CIUDAD:</label>
        <input type="text" th:field="*{ciudad}"/><br/><br/>
        <input type="reset" value="LIMPIAR"/>
        &nbsp;
        <input type="submit" value="GUARDAR"/>
    </form>
</body>
</html>